<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>

<div class="icon-container icon-container--mob">
    <div class="icon-item"><img src="https://via.placeholder.com/50x35" alt=""></div>
    <div class="icon-item"><img src="https://via.placeholder.com/50x35" alt=""></div>
    <div class="icon-item"><img src="https://via.placeholder.com/50x35" alt=""></div>
    <div class="icon-item"><img src="https://via.placeholder.com/50x35" alt=""></div>
    <div class="icon-item"><img src="https://via.placeholder.com/50x35" alt=""></div>
</div>

<div class="copyright copyright--mob">

    <div class="copy-arrow copy-arrow--mob">
        <small>
            <span> <a href="#top">&uarr; </a></span>
        </small>
    </div>

    <div class="copy-main copy-main--mob">
        <small>
            <span><?= /* @escapeNotVerified */
                $block->getCopyright() ?></span>
        </small>
    </div>

    <div class="copy-author copy-author--mob">
        <small>
            <span> Built by <a href="#">PushON</a> </span>
        </small>
    </div>
</div>
<!-- End of Mobile layout -->


<!-- Desktop layout -->
<div class="copyright copyright--desk">

    <div class="copy-main">
        <small>
            <span><?= /* @escapeNotVerified */
                $block->getCopyright() ?></span>
        </small>
    </div>

    <div class="icon-container">
        <div class="icon-item"><img src="https://via.placeholder.com/50x35" alt=""></div>
        <div class="icon-item"><img src="https://via.placeholder.com/50x35" alt=""></div>
        <div class="icon-item"><img src="https://via.placeholder.com/50x35" alt=""></div>
        <div class="icon-item"><img src="https://via.placeholder.com/50x35" alt=""></div>
        <div class="icon-item"><img src="https://via.placeholder.com/50x35" alt=""></div>
    </div>

    <div class="copy-right">
        <div class="copy-arrow">
            <small>
                <span> <a href="#top">&uarr; </a></span>
            </small>
        </div>

        <div class="copy-author">
            <small>
                <span> Built by <a href="#">PushON</a> </span>
            </small>
        </div>
    </div>
</div>

