<div class="banner-container">
    <a href="#" class="banner-container__link">

        <div class="banner-block">
            <div class="banner-block__content">
                <h2>Peli Lifetime Guarantee</h2>
                <p>The unbeatable lifetime guarantee and extended warranty policy that underpins the
                    quality of the products.
                </p>

                <p class="banner-block--action">Find out more</p>
            </div>
        </div>

    </a>
</div>
