<div class="blog-container">
    <div class="blog-item">
        <a href="#">
            <picture>
                <source media="(min-width: 1024px)" srcset="https://via.placeholder.com/1500x1300">
                <source media="(min-width: 768px)" srcset="https://via.placeholder.com/1300x500">
                <img src="https://via.placeholder.com/400x300" alt="">
            </picture>
        </a>
        <h3>The bear bathtub</h3>
        <p>Over 4.5 thousand miles away in Yellowstone National Park, Wyoming, USA, lies a high-alpine swimming hole</p>
        <a href="#" class="blog-item__link">Read More</a>
    </div>

    <div class="blog-item">
        <a href="#">
            <picture>
                <source media="(min-width: 1024px)" srcset="https://via.placeholder.com/1500x1300">
                <source media="(min-width: 768px)" srcset="https://via.placeholder.com/1300x500">
                <img src="https://via.placeholder.com/400x300" alt="">
            </picture>
        </a>
        <h3>The hidden benefits of a career in photography</h3>
        <p>Being a professional photographer has a number of benefits which can enrich both your career and your
            personal life</p>
        <a href="#" class="blog-item__link">Read More</a>
    </div>

    <div class="blog-item">
        <a href="#">
            <picture>
                <source media="(min-width: 1024px)" srcset="https://via.placeholder.com/1500x1300">
                <source media="(min-width: 768px)" srcset="https://via.placeholder.com/1300x500">
                <img src="https://via.placeholder.com/400x300" alt="">
            </picture>
        </a>
        <h3>5 of the worst things you could do to your camera</h3>
        <p>Over 4.5 thousand miles away in Yellowstone National Park, Wyoming, USA, lies a high-alpine swimming hole</p>
        <a href="#" class="blog-item__link">Read More</a>
    </div>

    <div class="blog-item">
        <a href="#">
            <picture>
                <source media="(min-width: 1024px)" srcset="https://via.placeholder.com/1500x1300">
                <source media="(min-width: 768px)" srcset="https://via.placeholder.com/1300x500">
                <img src="https://via.placeholder.com/400x300" alt="">
            </picture>
        </a>
        <h3>An overview of future camera technology in the works</h3>
        <p>Over 4.5 thousand miles away in Yellowstone National Park, Wyoming, USA, lies a high-alpine swimming hole</p>
        <a href="#" class="blog-item__link">Read More</a>
    </div>
</div>

<script type="text/x-magento-init">
    {
        ".blog-container": {
            "js/slick-init": {
                "dots": false,
                "infinite": true,
                "mobileFirst": true,
                "slidesToShow": 4,
                "slidesToScroll": 4,
                "responsive": [
                    {
                        "breakpoint": 0,
                        "settings": "unslick"
                    },
                    {
                        "breakpoint": 767,
                        "settings": {
                            "slidesToShow": 1,
                            "slidesToScroll": 1
                        }
                    },
                    {
                        "breakpoint": 1024,
                        "settings": "unslick"
                    }
                ]
            }
        }
    }


</script>
