<div class="slick-wrapper">
    <div class="image-container">
        <div class="content-wrapper">

            <div class="text-container">
                <h2 class="carousel-header">Peli Torches</h2>
                <p class="carousel-body">The Peli range of high quality torches have become the choice of
                    professionals</p>
                <a href="#" class="btn btn-block carousel-action">Find out more</a>
            </div>


            <picture>
                <source media="(min-width: 1024px)" srcset="<?php echo $this->getViewFileUrl('images/peli-bg.jpg'); ?>">
                <source media="(min-width: 640px)" srcset="https://via.placeholder.com/1800x1000">
                <source media="(min-width: 480px)" srcset="https://via.placeholder.com/1300x800">
                <source media="(min-width: 320px)" srcset="https://via.placeholder.com/800x850">
                <img src="https://via.placeholder.com/2560x600" alt="">
            </picture>
        </div>
        <div class="content-wrapper">

            <div class="text-container">
                <h2 class="carousel-header">Peli Lights</h2>
                <p class="carousel-body">The Peli range of high quality lights have become the choice of
                    professionals</p>
                <a href="#" class="btn btn-block carousel-action">Find out more</a>
            </div>

            <picture>
                <source media="(min-width: 1024px)" srcset="<?php echo $this->getViewFileUrl('images/peli-bg.jpg'); ?>">
                <source media="(min-width: 640px)" srcset="https://via.placeholder.com/1800x1000">
                <source media="(min-width: 480px)" srcset="https://via.placeholder.com/1300x800">
                <source media="(min-width: 320px)" srcset="https://via.placeholder.com/800x850">
                <img src="https://via.placeholder.com/2560x600" alt="">
            </picture>
        </div>
        <div class="content-wrapper">

            <div class="text-container">
                <h2 class="carousel-header">Peli Accessories</h2>
                <p class="carousel-body">Same idea just different content in the boxes to fill up space </p>
                <a href="#" class="btn btn-block carousel-action">Find out more</a>
            </div>

            <picture>
                <source media="(min-width: 1024px)" srcset="<?php echo $this->getViewFileUrl('images/peli-bg.jpg'); ?>">
                <source media="(min-width: 640px)" srcset="https://via.placeholder.com/1800x1000">
                <source media="(min-width: 480px)" srcset="https://via.placeholder.com/1300x800">
                <source media="(min-width: 320px)" srcset="https://via.placeholder.com/800x850">
                <img src="https://via.placeholder.com/2560x600" alt="">
            </picture>
        </div>
    </div>
</div>


<script type="text/x-magento-init">
    {
        ".image-container": {
            "js/slick-init": {
                "slidesToShow": 1,
                "slidesToScroll": 1,
                "arrows": false,
                "dots": true,
                "mobileFirst": true,
                "infinite": true,
                "responsive": [
                    {
                        "breakpoint": 1024,
                        "settings": {
                            "infinite": true,
                            "slidesToShow": 1,
                            "centerMode": false,
                            "arrows": true
                        }
                    }
                ]
            }
        }
    }

</script>