<div class="category-wrapper">
    <div class="main-category main-category--tall">
        <a href="#" class="main-category__content">
            <h2> Peli Area Lighting</h2>
            <p>Find out more</p>
        </a>
    </div>

    <div class="main-category">

        <a href="#" class="main-category__content main-category--top">
            <h2>Peli protective cases</h2>
            <p>Find out more</p>
        </a>

        <a href="#" class="main-category__content main-category--bottom">
            <h2>Peli Accessories</h2>
            <p>Find out more</p>
        </a>
    </div>
</div>