<div class="certification-container">
    <div class="certification-item"><img src="https://via.placeholder.com/50x50" alt=""></div>
    <div class="certification-item"><img src="https://via.placeholder.com/65x50" alt=""></div>
    <div class="certification-item"><img src="https://via.placeholder.com/75x50" alt=""></div>
    <div class="certification-item"><img src="https://via.placeholder.com/100x50" alt=""></div>
    <div class="certification-item"><img src="https://via.placeholder.com/50x50" alt=""></div>
    <div class="certification-item"><img src="https://via.placeholder.com/75x50" alt=""></div>
    <div class="certification-item"><img src="https://via.placeholder.com/50x50" alt=""></div>
    <div class="certification-item"><img src="https://via.placeholder.com/100x50" alt=""></div>
</div>


<script type="text/x-magento-init">
    {
        ".certification-container": {
            "js/slick-init": {
                "slidesToShow": 1,
                "slidesToScroll": 1,
                "arrows": true,
                "dots": true,
                "mobileFirst": true,
                "infinite": true,
                "responsive": [
                    {
                        "breakpoint": 0,
                        "settings": "unslick"
                    },
                    {
                        "breakpoint": 768,
                        "settings": {
                            "infinite": true,
                            "slidesToShow": 4,
                            "slidesToScroll": 2,
                            "centerMode": false
                        }
                    },
                    {
                        "breakpoint": 1024,
                        "settings": "unslick"
                    }
                ]
            }
        }
    }

</script>