<div class="review-container">
    <div class="review-box">
        <div class="review-item"><img src="https://via.placeholder.com/200x150" alt=""></div>
        <div class="review-item"><img src="https://via.placeholder.com/200x150" alt=""></div>
        <div class="review-item"><img src="https://via.placeholder.com/200x150" alt=""></div>
        <div class="review-item"><img src="https://via.placeholder.com/200x150" alt=""></div>
        <div class="review-item"><img src="https://via.placeholder.com/200x150" alt=""></div>
        <div class="review-item"><img src="https://via.placeholder.com/200x150" alt=""></div>
        <div class="review-item"><img src="https://via.placeholder.com/200x150" alt=""></div>
        <div class="review-item"><img src="https://via.placeholder.com/200x150" alt=""></div>
        <div class="review-item"><img src="https://via.placeholder.com/200x150" alt=""></div>
        <div class="review-item"><img src="https://via.placeholder.com/200x150" alt=""></div>
        <div class="review-item"><img src="https://via.placeholder.com/200x150" alt=""></div>
        <div class="review-item"><img src="https://via.placeholder.com/200x150" alt=""></div>
    </div>
</div>

<script type="text/x-magento-init">
    {
        ".review-box": {
            "js/slick-init": {
                "slidesToShow": 1,
                "slidesToScroll": 1,
                "arrows": true,
                "dots": false,
                "mobileFirst": true,
                "infinite": true,
                "responsive": [
                    {
                        "breakpoint": 768,
                        "settings": {
                            "infinite": true,
                            "slidesToShow": 3,
                            "slidesToScroll": 2,
                            "centerMode": false
                        }
                    },
                    {
                        "breakpoint": 1024,
                        "settings": {
                            "infinite": true,
                            "slidesToShow": 4,
                            "slidesToScroll": 2,
                            "centerMode": false
                        }
                    }
                ]
            }
        }
    }

</script>