<div class="social-container">
    <div class="social-item"><img src="https://via.placeholder.com/75x75" alt=""></div>
    <div class="social-item"><img src="https://via.placeholder.com/75x75" alt=""></div>
    <div class="social-item"><img src="https://via.placeholder.com/75x75" alt=""></div>
    <div class="social-item"><img src="https://via.placeholder.com/75x75" alt=""></div>
</div>