<div class="double-container">
    <div class="left cases">
        <a href="#" class="case-content double-item">
            <h2>Peli Cases</h2>
            <p>Find out more</p>
        </a>
    </div>

    <div class="right light">
        <a href="#" class="lights-content double-item">
            <h2>Peli Lighting</h2>
            <p>Find out more</p>
        </a>
    </div>
</div>