.banner-container {
  width      : 100%;
  margin-top : $indent__m;

  &__link {
    display                 : block;
    background-image        : url("https://via.placeholder.com/900x400");
    -webkit-background-size : cover;
    background-size         : cover;
    background-position     : center;
    height                  : 450px;

    &:hover {
      text-decoration : none;

    }
  }
}

.banner-block {
  height          : 100%;
  display         : flex;
  flex-direction  : column;
  text-align      : center;
  justify-content : center;
  color           : $color-gray20;

  &__content {
    padding   : 0 $indent__xs;
    max-width : 95%;
    margin    : 0 auto;
    font-size : 1.5rem;

    h2 {
      text-transform : uppercase;
      padding        : 0;
    }
  }

  &--action {
    display          : inline-block;
    background-color : $color-gray20;
    padding          : 15px 25px;
    max-width        : 50%;
    color            : $color-white;
    text-transform   : uppercase;
    transition       : background-color 0.3s;
    font-size        : 1.3rem;
    font-weight      : $font-weight__bold;

    &:hover {
      background-color : $color-gray-darken3;
    }
  }

}

@include min-screen ($screen__m) {
  .banner-block {
    text-align : center;

    &__content {
      font-size : 1.7rem;
      width     : 60%;
      margin    : 0 auto;

      h2 {
        font-size : 3.6rem;
      }
    }

    &--action {
      width : 30%;
    }
  }
}

@include min-screen ($screen__l) {
  .banner-block {
    &__content {
      font-size : 1.3em;
      width     : 50%;
      margin    : 0 auto;

      h2 {
        font-size : 3.8rem;
      }

      p {
        max-width : 60%;
        margin    : 0 auto $indent__m;
      }
    }

    &--action {
      margin-top : $indent__m;
      width      : 30%;
      font-size  : 1.2rem
    }
  }
}
