.blog-container {

  padding-bottom : $indent__m;
  border-bottom  : 1px solid $color-gray-light1;

  .blog-item {
    text-align : center;
    margin-top : $indent__s;
    font-size  : 1.1em;
    height     : auto;
    width      : 100%;

    img {
      max-width : 100%;
    }

    h3 {
      text-transform : uppercase;
      font-size      : 1.3em;
    }

    &__link {
      display          : inline-block;
      margin-top       : $indent__s;
      text-transform   : uppercase;
      background-color : $color-gray20;
      color            : $color-white;
      padding          : 15px 40px;
      font-size        : 0.8em;
      font-weight      : $font-weight__bold;

      &:hover {
        text-decoration  : none;
        background-color : rgba(0, 0, 0, 0.5);
      }
    }

    &:not(:first-child) {
      display : none;
    }
  }

  .slick-arrow {
    background-color      : $color-gray-darken0;
    height                : 50px;
    width                 : 50px;
    -webkit-border-radius : 80px;
    -moz-border-radius    : 80px;
    border-radius         : 80px;

    &:before {
      font-size   : 2.5rem;
      color       : $color-gray20;
      font-weight : $font-weight__semibold;
    }
  }
}


@include min-screen($screen__m) {
  .blog-container {
    margin   : 0 $indent__m;
    position : relative;

    .blog-item {
      position          : relative;
      left              : 50%;
      -webkit-transform : translate(-50%, 0);
      -moz-transform    : translate(-50%, 0);
      -ms-transform     : translate(-50%, 0);
      -o-transform      : translate(-50%, 0);
      transform         : translate(-50%, 0);
      width             : 75% !important;
    }
  }
}

@include min-screen($screen__l) {
  .blog-container {
    margin         : 0;
    display        : flex;
    flex-direction : row;

    .blog-item {
      display           : block;
      flex              : 1 50%;
      margin            : $indent__m $indent__s;
      position          : static;
      -webkit-transform : translate(0);
      -moz-transform    : translate(0);
      -ms-transform     : translate(0);
      -o-transform      : translate(0);
      transform         : translate(0);

      &:not(:first-child) {
        display : block;
      }

      &:first-child {
        margin-left : 0;
      }

      &:last-child {
        margin-right : 0;
      }

      h3 {
        min-height  : 50px;
        font-size   : 1.8rem;
        font-weight : $font-weight__heavier;
      }
    }
  }
}

.slick-prev:before {
  content : '\003c';
}

.slick-next:before {
  content : '\003e';
}