.image-container {
  text-align : center;
}

//parent to the text container using inline-block method
.content-wrapper {
  text-align : center;
  position   : relative;
}

//flex the container to keep contents centered
.text-container {
  position       : absolute;
  text-align     : center;
  left           : 50%;
  top            : 50%;
  transform      : translate(-50%, -50%);
  width          : 80%;
  display        : flex;
  flex-direction : column;
  align-items    : center;

  .carousel-header {
    text-transform : uppercase;
  }

  .carousel-body {
    width     : 100%;
    font-size : 15px;
  }

  .carousel-action {
    display          : inline-block;
    background-color : #333;
    padding          : 15px 20px;
    width            : 40%;
    color            : $color-white;
    text-transform   : uppercase;
    font-size        : 14px;
    font-weight      : bolder;
    margin-top       : 20px;
    border           : 1px solid #333;

    &:hover {
      background-color : $color-white;
      color            : #333;
      text-decoration  : none;
    }
  }
}

@include min-screen($screen__s) {
  .text-container {
    width : 60%;
  }
}

@include min-screen($screen__m) {
  .image-container {
    img {
      width      : 100%;
      max-height : 450px;
    }
  }

  .text-container {
    width : 270px;

    .carousel-header {
      font-size : 2.5em;
    }

    .carousel-action {
      width : 50%;
    }
  }
}

@include min-screen($screen__l) {
  .text-container {
    font-size : 1.5em;
    width     : 420px;

    .carousel-action {
      width : 30%;
    }
  }
}

@include min-screen($screen__xl) {

  .carousel-action {
    margin-top : 0;
  }
}
