.category-wrapper {
  display    : flex;
  margin-top : $indent__s;

  .main-category {
    flex-grow      : 1;
    display        : flex;
    flex-direction : column;
    text-align     : center;

    &--tall {
      height           : 450px;
      background-image : url("https://via.placeholder.com/250x800");
      margin-top       : $indent__s;
      flex-basis       : 200px;
    }

    &--top {
      background-image : url("https://via.placeholder.com/150x250");
      margin-top       : $indent__s;
      margin-left      : $indent__s;
    }

    &--bottom {
      background-image : url("https://via.placeholder.com/150x300");
      margin-top       : 10px;
      margin-left      : 10px;
    }

    &__content {
      flex-grow       : 1;
      display         : flex;
      flex-direction  : column;
      justify-content : center;
      align-items     : center;
      text-decoration : none;
      color           : $color-white;
      text-transform  : uppercase;
      position        : relative;
      z-index         : 1;
      font-size       : $font-size__s;

      h2 {
        font-size : 1.5em;
        padding   : $indent__s;
      }

      &::before {
        content          : '';
        display          : block;
        position         : absolute;
        background-color : rgba(0, 0, 0, 0.5);
        margin           : 0 auto;
        height           : 100%;
        top              : 0;
        left             : 0;
        right            : 0;
        bottom           : 0;
        transition       : all ease-in-out .2s;
        opacity          : 0;
        visibility       : hidden;
      }

      &:hover {
        h2 {
          text-decoration : underline;
          padding-bottom  : $indent__s;
        }

        &::before {
          opacity    : 1;
          visibility : visible;
          z-index    : -1;
        }
      }

    }
  }
}

@include min-screen($screen__m) {
  .category-wrapper {
    .main-category {
      &--tall {
        height     : 650px;
        margin-top : $indent__m;
        flex-basis : 250px;
      }

      &--top,
      &--bottom {
        margin-top  : $indent__m;
        margin-left : $indent__m;
      }

      &__content {
        h2 {
          font-size   : 1.8em;
          font-weight : $font-weight__semibold;
        }

        p {
          font-size : 1.6rem;
        }
      }

    }
  }
}

@include min-screen($screen__l) {
  .category-wrapper {
    .main-category {
      &--tall {
        height     : 775px;
        flex-basis : 300px;
      }

      &__content {
        h2 {
          font-size   : 2.6em;
          font-weight : $font-weight__heavier;
        }
      }

    }
  }
}