.certification-container {
  margin          : $indent__m auto 0 auto;
  display         : flex;
  flex-direction  : row;
  justify-content : space-between;
  flex-wrap       : wrap;

  .certification-item {
    flex       : 1 0 10%;
    width      : 50%;
    text-align : center;

    &:not(:last-child) {
      margin-right : 5px;
    }

    img {
      max-width : unset;
    }
  }
}

@include min-screen($screen__xs) {
  .certification-container {

    .certification-item {
      flex  : 1 0 21%;
      width : 50%;

      &:not(:last-child) {
        margin-right : 10px;
      }
    }
  }
}

@include min-screen($screen__m) {
  .certification-container {
    width : 65%;

    .slick-dots {
      bottom : -30px;
    }
  }

}

@include min-screen($screen__l) {
  .certification-container {
    .certification-item {
      flex         : 1;
      margin-right : 5px;
    }
  }
}