.review-container {
  height           : 225px;
  background-color : $color-gray-light0;
  padding          : 10px 50px;
}

.review-box {
  width      : 70%;
  text-align : center;
  margin     : 0 auto;

  .slick-arrow {
    color            : $color-gray20;
    background-color : transparent;

    &::before {
      font-size             : 2rem;
      color                 : $color-gray20;
      padding               : 3px 10px;
      border                : 1px solid $color-gray68;
      height                : 10px;
      width                 : 10px;
      -webkit-border-radius : 100%;
      -moz-border-radius    : 100%;
      border-radius         : 100%;
    }

    &:active,
    &:hover {
      border     : none;
      background : transparent;
      box-shadow : none;
    }
  }

  .slick-prev {
    left  : -25%;
    color : $color-gray20;

  }

  .slick-next {
    right : -25%;
  }
}

.review-item {
  width : 75%;

  img {
    width  : 100%;
    height : 175px;
  }
}

@include min-screen($screen__m) {
  .review-box {
    width : 85%;

    .slick-prev {
      left : -10%;
    }

    .slick-next {
      right : -10%;
    }
  }
}