.social-container {
  width      : 60%;
  margin     : 0 auto;
  padding    : $indent__m 0;
  text-align : center;
  display    : flex;

  .social-item {
    flex  : 1 0 21%;
    width : 20%;

    &:not(:last-child) {
      margin-right : 10px;
    }
  }

}

@include min-screen($screen__m) {
  .social-container {
    width : 50%;
  }
}

@include min-screen($screen__l) {
  .social-container {
    width : 20%;
  }
}
