footer {
  background-color : #333;

  .accordion-item {

    .title {
      border-top       : 1px solid $color-gray-light4;;
      border-bottom    : 1px solid $color-gray-light4;
      padding          : 10px;
      background-color : $color-gray-darken3;
      cursor           : pointer;
      text-transform   : uppercase;

      .switch {
        color : $color-black;
      }

      :after {
        content         : '';
        display         : inline-block;
        width           : 24px;
        height          : 24px;
        background      : url("../images/chevron-down.svg") center center no-repeat;
        background-size : 100% 100%;
        position        : absolute;
        left            : 90%;
        transition      : transform ease 0.2s;
      }
    }

    .content {
      max-height : 0px;
      overflow   : hidden;
      transition : all ease 0.2s;
    }

    &.active {

      .content {
        max-height : 1000px;
        padding    : 10px;
        border     : 1px solid $color-gray-light2;
      }

      :after {
        content   : '';
        transform : rotateX(180deg);
      }

    }

    &--footer {

      a {
        color : $color-white;
      }

      .title {
        border-top    : 0;
        padding-left  : 20px;
        border-bottom : 1px solid $color-gray-light4;


        :after {
          content         : '';
          display         : inline-block;
          width           : 24px;
          height          : 24px;
          background-size : 100% 100%;
          position        : absolute;
          left            : 90%;
          transition      : transform ease 0.2s;
        }
      }

      &.active {

        .content {
          max-height   : 1000px;
          padding      : 10px;
          border       : 1px solid $color-gray-light2;
          border-left  : 0;
          border-right : 0;
        }

        .title {

          :after {
            content    : '';
            transition : transform ease 0.2s;
            transform  : rotateX(180deg);
          }

        }
      }
    }
  }

  //
  // Responsive
  // --------------------

  @include min-screen($screen__m) {
    .footer-accordian-container {
      display : block;
      width   : 100%;
    }
    .accordion-item--footer {
      display : block;
      padding : 10px;

      .title {
        border-bottom : 0;
        padding       : 20px;
        margin-bottom : $indent__m;

        :after {
          display : none;
        }
      }

      .content {
        max-height : 1000px;
        padding    : $indent__s;

        ul {
          padding-inline-start : 0;
        }
      }
    }
  }

  @include min-screen($screen__l) {

    .footer-accordian-container {
      display         : flex;
      flex            : 1;
      justify-content : space-between;
      width           : 100%;
    }
    .accordion-item--footer {
      display        : flex;
      flex-direction : column;
      width          : 50%;
      padding        : 10px;

      .title {
        border-bottom    : 1px solid $color-gray-light4;
        background-color : transparent;
        padding          : 20px 20px 20px 0;

        :after {
          display : none;
        }
      }

      .content {
        max-height : 1000px;
        padding    : 10px;
      }
    }
  }
}