.double-container {
  display        : flex;
  flex-direction : row;
  margin-top     : 20px;

  .double-item {
    display             : flex;
    flex-direction      : column;
    text-align          : center;
    justify-content     : center;
    height              : 175px;
    background-image    : url("https://via.placeholder.com/250x500");
    background-size     : cover;
    background-position : center;
    color               : $color-white;
    text-decoration     : none;
    text-transform      : uppercase;
    position            : relative;
    z-index             : 1;

    h2 {
      font-size   : 1.4em;
      font-weight : $font-weight__heavier;
    }

    p {
      font-size : 1.4rem;
    }

    &::before {
      content          : '';
      display          : block;
      position         : absolute;
      background-color : rgba(0, 0, 0, 0.5);
      margin           : 0 auto;
      height           : 100%;
      top              : 0;
      left             : 0;
      right            : 0;
      bottom           : 0;
      transition       : all ease-in-out .2s;
      opacity          : 0;
      visibility       : hidden;
    }

    &:hover {
      h2 {
        text-decoration : underline;
        padding-bottom  : $indent__s;
      }

      &::before {
        opacity    : 1;
        visibility : visible;
        z-index    : -1;
      }
    }
  }

  .left {
    flex         : 1;
    margin-right : $indent__s;
  }

  .right {
    flex : 1;
  }
}


@include min-screen($screen__m) {

  .double-container {
    .double-item {
      height : 300px;

      h2 {
        font-size : 1.6em;
      }
    }

    .left {
      margin-right : $indent__m;
    }
  }
}

@include min-screen($screen__l) {
  .double-container {
    .double-item {
      height : 500px;

      h2 {
        font-size : 2em;
      }
    }
  }
}