.page-footer {
  .copyright {
    display          : flex;
    flex-direction   : column;
    color            : $color-white;
    padding          : $indent__m $indent__s;
    background-color : $color-black;
    text-align       : center;

    &--desk {
      display : none;
    }
  }

  .copy-arrow small,
  .copy-arrow a {

    font-size       : 30px;
    color           : $color-white;
    text-decoration : none;
  }

  .copy-author {
    padding : $indent__s;

    & a {
      color           : $color-white;
      text-decoration : underline;
      font-weight     : 700;
    }
  }


}

.icon-container {
  display          : block;
  text-align       : center;
  width            : 100%;
  padding          : $indent__m 0;
  order            : 0;
  background-color : $color-gray20;

  .icon-item {
    display : inline-block;
  }
}

@include min-screen($screen__l) {
  .page-footer {
    .copyright {
      display         : flex;
      flex-direction  : row;
      justify-content : space-between;
      align-items     : center;
      padding         : $indent__s;
      font-weight     : 600;
    }

    .copy-arrow {
      border-right  : 1px solid $color-white;
      margin-right  : 20px;
      padding-right : $indent__s;
    }
  }

  .icon-container {
    width   : unset;
    padding : 0 100px 0 0;
  }
}