.block-content {
  .slick-dots {
    bottom : 10px;
  }
}

@include min-screen($screen__m) {
  .block-content {
    .slick-dots {
      bottom : 20px;
    }
  }
}

@include min-screen($screen__l) {
  .block-content {
    .slick-dots {
      bottom : 30px;
    }
  }
}
