.footer.content {
  border-top : none;
  margin-top : 0;
}

.footer.content .block {
  float      : none;
  border-top : none;
}

.block.newsletter {
  margin : 0 auto;

  .form.subscribe {
    display    : block;
    text-align : center;

    .field.newsletter {

      .label {
        height         : auto;
        margin         : 0;
        overflow       : initial;
        position       : static;
        width          : auto;
        text-transform : uppercase;
        color          : $color-gray-light2;
      }

      .control {
        margin-top            : $indent__s;
        -webkit-border-radius : 50px;
        -moz-border-radius    : 50px;

        &::before {
          font-size    : 35px;
          border-right : 1px solid $color-gray-light2;
          line-height  : 20px;
          margin-top   : 7px;
          width        : 50px;
        }

        input {
          -webkit-border-radius : 5px;
          -moz-border-radius    : 5px;
          border-radius         : 5px;
          font-size             : 1.2rem;
          padding               : 0 15px 0 65px;

        }
      }
    }
  }

  .action.subscribe {
    background-color : $color-red10;
    padding          : 15px 25px;
    margin-top       : $indent__s;
    border-radius    : $indent__s;
    max-width        : 50%;
    overflow         : hidden;
    text-transform   : uppercase;
    font-size        : 1.1rem;
  }
}

@include min-screen($screen__m) {

  .block.newsletter {

    .form.subscribe {
      display : block;

      .field.newsletter {
        display        : flex;
        flex-direction : row;
        align-items    : center;
        width          : 100%;

        .control {

          &::before {
            margin-top : 10px;
          }


          input {
            max-width    : 100%;
            padding-left : 70px;
            height       : 40px;
          }
        }

        .label {
          margin-right : 25px;
        }
      }
    }
  }
}

@include min-screen($screen__l) {

  .block.newsletter {

    .form.subscribe {
      display        : flex;
      flex-direction : row;

      .field.newsletter {
        width : 100%;

        .control {
          margin-left : -75px;

          input {
            width        : 75%;
            padding-left : 70px;
          }
        }
      }
    }

    .action.subscribe {
      padding    : 5px 30px;
      margin-top : 10px;
      width      : auto;
      max-width  : none;
    }
  }
}